/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: var(--foreground);
  color: var(--background);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Make sure elements are responsive */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .text-3xl {
    font-size: 2rem;
  }
  .text-xl {
    font-size: 1.25rem;
  }
}

